{{>header}}

<div class="jumbotron">
    <h1 class="display-4">Grocery Store</h1>
</div>

<div class="container">
    {{#each product}}
    <div class="row">
        {{#each this}}
        <div class="col-xs-6 col-md-4 img-container"> 
            <img class="img-responsive inline-block img-thumbnail" src="{{this.imagePath}}"/>

            <div class="caption">
                <a class="product_title" data-toggle="modal" data-target="#myModal">{{this.title}}</a>
                <p><span class="price">${{this.price}}</span><span class="price_desc">{{this.price_description}}</span></p>
                <p class="product_desc" hidden>{{this.product_description}}</p>
                <p class="id" hidden>{{this._id}}</p>
                <input class="quantity" type="number" name="quantity" value="1" min="1" max="50">
                <a class="btn btn-warning add-btn" role="button">Add to Cart</a>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>
{{>footer}}