{{>header}}

<!-- Start of Navigation Bar - Remove this block of code (Except the search bar) and replace it with your navigation bar code -->
<div class="topnav" id="myTopnav">
    <a href="/" class="active">GreenMart</a>

    <a class="nav-item pl-2 mb-2 mb-md-0"  href="/cart">My Cart</a>

    <!--Start of Search Bar - Integrate this block of code into your navigation bar. Just copy & paste -->
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" id="searchInput" type="search" placeholder="Looking for something?" aria-label="Search">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0" id="searchBtn"><b>Search</b></button>
    </form>
    <!-- End of Search Bar -->
</div>
<!-- End of Navigation Bar -->

</br>
<div class="container">
    {{#each product}}
    <div class="row">
        {{#each this}}
        <div class="col-xs-6 col-md-4 img-container"> 
            <img class="img-responsive inline-block img-thumbnail" src="{{this.imagePath}}"/>

            <div class="caption">
                <a class="product_title" data-toggle="modal" data-target="#myModal">{{this.title}}</a>
                <p><span class="price">${{this.price}}</span><span class="price_desc">{{this.price_description}}</span></p>
                <p class="product_desc" hidden>{{this.product_description}}</p>
                <p class="id" hidden>{{this._id}}</p>
                <input class="quantity" type="number" name="quantity" value="1" min="1" max="50">
                <a class="btn btn-warning add-btn" role="button">Add to Cart</a>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
    </br>
    <p id="isPaginate" hidden>{{pagination}}</p>

    <!-- Pagination -->
    <nav aria-label="Page-navigation">
        <ul class="pagination justify-content-center">
        </ul>
    </nav>

</div>

{{>footer}}